/* Your Website Styles */

/* Navigation */

ul {
  font-family: 'Open Sans', sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 15px;
  
}

li {
	float: right;
}



a {
    display: block;
    width: 85px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-top: 15px;
}

a:hover {
  color: #00EBE7;
  text-decoration: underline;
}


hr {
  background: #00EBE7;
  height: 2px;
  border: none;
  width: 1043px;
  margin-left: 18px;
}


h1{
	font-family: 'Alex Brush', cursive;
	color: white;
	font-size: 120px;
	text-align: center;
	margin: 0;
}

h2{
	color: white;
	font-family: 'Alex Brush', cursive;
	text-align: center;
	font-size: 70px;
	margin: 0;
}

p{
	color: white;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
}

h3{
	color: white;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}


#work img {
	max-width: 100%;
	height: 480px;
}

#work2 img {
	max-width: 100%;
	height: auto;
}


#work3 img {
	max-width: 100%;
	height: 480px;
}

#facebook img {
	width: 140px;
	height: 140px;
}

#instagram img {
	width: 140px;
	height: 140px;
}

#pinterest img {
	width: 140px;
	height: 140px;
}




body{
	background: url(../img/bg.png);
}

