/* Your Website Styles */

/* Navigation */
.nav {
  font-family: 'Open Sans', sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 15px;
  float: right;
}



a {
    display: block;
    width: 85px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-top: 15px;
}

a:hover {
  color: #00EBE7;
  text-decoration: underline;
}


body {
	background: url(../img/bg.png);
}

p{
	color: white;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	text-align: center;
}

ul{
	color: white;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	text-align: center;
}

li {
	text-align: center;
}

h1{
	font-family: 'Alex Brush', cursive;
	color: white;
	font-size: 120px;
	text-align: center;
	margin: 0;
}

h2{
	color: white;
	font-family: 'Alex Brush', cursive;
	text-align: center;
	font-size: 70px;
	margin: 0;
}

h3{
	color: white;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

hr {
	background: #00EBE7;
	height: 2px;
	border: none;
	width: 1000px;
}




div {
	margin-top: -60px;	x 
}




/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}