/* Set Your Own Margin & Padding */

/* Navigation */
ul {
  font-family: 'Open Sans', sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 15px;
  
}

li {
	float: right;
}



a {
    display: block;
    width: 85px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-top: 15px;
}

a:hover {
  color: #00EBE7;
  text-decoration: underline;
}




/* Headers & body */
h1 {
	font-family: 'Alex Brush', cursive;
	color: white;
	margin-bottom: -10px;
	font-size: 50px;
}

h2 {
	font-family: 'Alex Brush', cursive;
	color: white;
	font-size: 30px;
}

h3 {
	font-family: 'Raleway', sans-serif;
	color: white;
	margin-bottom: 6px;
}

em {
	color: white;
	font-family: 'Open Sans', sans-serif;
}

p {
	color: white;
	font-family: 'Open Sans', sans-serif;
}

body {
	background: url(../img/bg.png);
}

hr {
	background: #00EBE7;
	height: 2px;
	border: none;
	width: 1000px;
}









/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}