/* Set Your Own Margin & Padding */

/* Navigation */
ul {
  font-family: 'Open Sans', sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 15px;
  
}

li {
	float: right;
}



a {
    display: block;
    width: 85px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-top: 15px;
}

a:hover {
  color: #00EBE7;
  text-decoration: underline;
}




/* Headers & body */
h1{
	font-family: 'Alex Brush', cursive;
	color: white;
	font-size: 120px;
	text-align: center;
	margin: 0;
}

h2{
	color: white;
	font-family: 'Alex Brush', cursive;
	text-align: center;
	font-size: 70px;
	margin: 0;
}

h3 {
	font-family: 'Raleway', sans-serif;
	color: white;
	margin-bottom: 6px;
}

em {
	color: white;
	font-family: 'Open Sans', sans-serif;
}

p {
	color: white;
	font-family: 'Open Sans', sans-serif;
}

body {
	background: url(../img/bg.png);
}

hr {
	background: #00EBE7;
	height: 2px;
	border: none;
	width: 1000px;
}





@media screen and (max-width: 1086px) {

body {
  background: url(../img/bg.png);
}

.hr {
border:none;
border-top:1px solid gray;
padding-top:10px;}

h1{
margin-bottom:0px;}

.wrapper
{width:100%;
height:auto;}

#thumb, #thumb2 {
float:left;
width:350px;
height:250px;
border: 10px solid rgba(255, 255, 255, 1);
}

#thumb {
float:left;
margin-top:10px;
}

#thumb:first-child {
margin-top:none;
}

#thumb2{
margin:10px 20px 20px 20px;
}

#thumb:hover, #thumb2:hover{
transition:0.5s;
box-shadow:0px 5px 6px rgba(70,53,53,0.4);
}


.info {
clear:both;}


@media only screen and (max-width : 839px) {

  body {
  background: url(../img/bg.png);
}

h1 {
font-size:100px;
margin-bottom:-10px;}

#thumb, #thumb2 {
float:left;
width:550px;
margin-top:20px;
height:366.666667px;
border: 15px solid rgba(255, 255, 255, 1);
}

#thumb:hover, #thumb2:hover{
transition:0.5s;
box-shadow:0px 9px 13px rgba(70,53,53,0.4);
}



.hr{
padding-top:20px;
width:560px;}

.info{
font-size:20px;}

}


@media only screen and (max-width : 609px) {

body {
  background: url(../img/bg.png);
}

.hr{
clear:both;
width:95%;
}

h1 {
font-size:5.65em;
margin-bottom:10px;
margin-right:10px;
line-height:.9em;}

.wrapper{
width:100%;
height:auto;
padding:0;
margin:0 auto;
}

#thumb, #thumb2 {
background-color:rgba(255, 255, 255, 1);
width:85%;
height:auto;
margin-top:20px;
border: 15px solid rgba(255, 255, 255, 1);
margin-left:3.46305419%;
}

#thumb:hover, #thumb2:hover{
transition:0.5s;
box-shadow:0px 6px 9px rgba(70,53,53,0.4);
}

.info{
font-size:20px;}


}


@media only screen and (max-width : 463px) {

h1 {
font-size:3.7em;
}

body {
  background: url(../img/bg.png);
}

}

@media only screen and (max-width : 240px) {
h1 {
font-size:2em;
}


body {
  background: url(../img/bg.png);
}


#thumb, #thumb2 {
width:75%;
height:auto;
margin-top:10px;
border: 10px solid rgba(255, 255, 255, 1);
}
}






/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}